* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    color: black;
    background-color: #DAF7F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 10px;
}

header {
    background-color: white;
    text-align: center;
}

header img {
    margin-right: 16px;
}

h1 {
    color: #F16059;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 40px 0;
    text-transform: uppercase;
}

main {
    width: 71%;
	margin: 0 auto;
}

.card {
    margin: 25px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px
}

.recipe {
    background-color: white;
    box-sizing: border-box;
    float: left;
    height: 550px;
    padding: 20px;
    width: 500px;
}

#cookies .image {
    background-image: url(../img/gluten-free-sugar-cookies.jpg);
    background-size: cover;
}

#pesto .image {
    background-image: url(../img/nut-free-pesto.jpg);
    background-size: cover;
}

#salad .image {
    background-image: url(../img/watermelon-salad.jpg);
    background-size: cover;
}

.recipe h2 {
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-top: o;
    text-transform: uppercase;
}

.time {
    border-width: 1px;
    border-color: #3B3B3B;
    border-style: solid;
    margin-bottom: 20px;
    overflow: auto;
}

.time img {
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
}

.time div {
    box-sizing: border-box;
    float: left;
    padding-left: 6px;
    text-transform: uppercase;
    width: 33.3333%;
}

.time .cook {
    border-color: #3B3B3B;
    border-style: solid;
    border-width: 0 1px;
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

.columns {
    overflow: auto;
}

.directions {
    float: left;
    width: 240px;
}

.directions ol {
    line-height: 24px;
    padding-left: 15px;
}

.ingredients {
    float: left;
    margin-right: 15px;
    width: 205px;
}

.ingredients ul {
    line-height: 24px;
    list-style-type: square;
    padding-left: 15px;
}

.recipe h3 {
    border-color: #3B3B3B;
    border-style: solid;
    border-width: 1px 0;
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    text-transform: uppercase;
}